/* General Styles */

* {
    padding: 0;
    margin: 0;
    font-family: "Copperplate Gothic",sans-serif;
    color:#E9E9E9;
    border-color:#2A2C34;
  }

html {
    overflow-x: hidden;
}

.col-black{
    color:#000;
}

body {
    background-image: url("../images/Background_PC..png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    max-height: 100vh;
    overflow: hidden;
}
  
/*header  stuff */ 
header {
    top :0px;
    max-height: 12.5vh;
}
.header-container{   background: linear-gradient(135deg, #5e23dc, #a069ec);
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;}
  nib

  .header-container:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}


.header-text {   margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.2);
}

.header-text-smaller {
    font-size: 1.5rem;
}


.header-text-small{
    font-size:25px;
}

.container {
    position: relative;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1% 2%;
}




#dropdown-list {background-color: #143661;}


ul > li {background-color: #143661;
color:#E9E9E9;}
/*Game Started Background Mobile */

@media (max-width: 575.98px) {
    body {
        background-size: cover; /* Since contain might leave gaps on phones, cover could be a better choice for smaller screens */
        background-image: url("../images/Background_Mobile..png");
    }
  }
  

#question-container {height:80px;}
.multiple-choice-padding-left {margin-left: 10px;}
.h1-reel {width:120px;
font-size: 18px;
letter-spacing: 1.5px;}

.question-border-color  {border-color: #1B4C8A;
    border-style: solid;
    border-radius: 20%;
border-width: 4px; }

.cash-out-positioning {
    margin-top: 5rem;
}



/* Styling the reel */
.reel-container { width:120px;
    height:80px;
    overflow:hidden;
    background: linear-gradient(180deg,#143661 0%, #1B4C8A 100%) ;

}

.reel {
    width:80%;
    height:100%;
    transition:transform 2s ease-in-out;
}

.reel div {
    margin:5px 0;
    padding:2px ;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    letter-spacing: 1.5px;
}
/*Styling the audio */
.audio-container {
    width: 40px;
    height:150px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fa-play,.fa-pause {font-size: 10;}
#playButton,
#pauseButton {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
/*Taken from a tutorial */
.vertical-slider {
    writing-mode: bt-lr; /* Set the writing mode to bottom-to-top (vertical) */
    transform: rotate(270deg); /* Rotate the slider 90 degrees clockwise */
    height: 50px; /* Set the height of the slider as desired */
    width: 20px; /* Set the width of the slider as desired */
  }
#volumeSlider {
    width: 100%;
    margin: 5px 0;
}
/* Styling the timer */
#timer {font-size: 16px; background-color: white;
    padding: 8px;
color:black;} 

/*styling multiple choice questions */ 
.choice-border-color  {border-color: #1B4C8A;
    border-style: solid;
    border-radius: 10%;
border-width: 4px;}


/* Adding the footer */ 

.circle-image{
    display: inline-block;
    
    position: relative;
    height:9vh;
    z-index:100;
    
}
.circle-image img{

  clip-path: circle(50%);
  object-fit: cover;
  z-index:100;
  
}
.custom-rectangle, .custom-rectangle1 {
    height: 10vh;
    width: 40%;  /* Adjust this for desired width */
    flex: none;  /* override the flex: 1; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-rectangle {
    background: #7c4dff;
    border-radius: 40px 0 0 40px;
    box-shadow: 0 0 3px 0 #000;
  }
  .custom-rectangle1 {
    background-color:white;
   
    border-radius: 0 40px 40px 0;
    box-shadow: 0 0 3px 0 #000;
  }

